* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ededed;
    min-height: 100%;
    margin-left: 15px;
}
nav {
    background-color: rgb(87, 222, 135);
    overflow: auto;
}
nav a {
    text-decoration: none;
    display: block;
    float: left;
    padding-top: 18px;
    margin-left: 12px;
    color: #093156;
}
#logo {
    width: 60px;
    float: left;
    padding-top: 5px;
    padding-left: 3px;
}
#bannerfig {
    width: 100%;
    margin: 0;
    padding-top: 10px;
    position: relative;
}
#tuin {
    position: absolute;
    margin: 0;
    padding: 0;
    color: white;
    right: 20px;
    bottom: 70px;
    font-size: 30px;
}
header {
    font-weight: 400;
    font-size: 20px;
    color: #343740;
    margin: 0;
    padding: 0;
}
h1 {
    width: 100%;
    border-bottom: 2px solid #343740 ;
}
h2{
    padding: 0;
    margin: 0;
}
.artikel{
    width: 262px;
    float: left;
    height: 220px;
    overflow: hidden;
    margin-bottom: 10px;
}
.articlerow{
    margin: 0;
    padding: 0;
    font-size: small;
}

.articlerow article:first-child{
    padding-right: calc((1050px - (250px * 4)) / 4);
}
.articlerow article:last-child{
    padding-left: calc((1050px - (250px * 4)) / 4);
}
.articlerow article:not(:first-child):not(:last-child){
    padding-left: calc((1050px - (250px * 4)) / 4);
    padding-right: calc((1050px - (250px * 4)) / 4);
}
.artikelimg{
    width: 100%;
    height: 108px;
}
.artikelimg:hover{
    opacity: 70%;
}
#divider{
    margin-top: 40px;
    margin-bottom: 40px;
}

#moreknop{
    background-color: #343740;
    color: white;
    width: 150px;
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

footer {
    color: white;
    background-color: black;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.artikel2{
    width: 262px;
    float: left;
    height: 250px;
    overflow: hidden;
}
.actitel{
    background-color: #093156;
    color: white;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}
.articlerow2{
    padding-bottom: 300px;
}
.articlerow2 article:first-child{
    padding-right: calc((1050px - (250px * 4)) / 4);
}
.articlerow2 article:last-child{
    padding-left: calc((1050px - (250px * 4)) / 4);
}
.articlerow2 article:not(:first-child):not(:last-child){
    padding-left: calc((1050px - (250px * 4)) / 4);
    padding-right: calc((1050px - (250px * 4)) / 4);
}

@media screen and (min-width: 1000px) {
    body {
        width: 1050px;
    }
    nav {
        height: 55px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
    body{
        width: 750px;
    }
}