* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #ededed;
    margin: 0;
}
nav {
    background-color: rgb(87, 222, 135);
    overflow: auto;
    opacity: 70%;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}
main{
    z-index: 0;
}
nav a {
    text-decoration: none;
    display: block;
    float: left;
    padding-top: 18px;
    margin-left: 12px;
    color: #093156;
}
#logo {
    width: 60px;
    float: left;
    padding-top: 5px;
    padding-left: 3px;
}
img {
    width: 100%;
}
#bannerfig {
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
}
#tuin {
    position: absolute;
    margin: 0;
    padding: 0;
    color: white;
    right: 20px;
    bottom: 70px;
    font-size: 30px;
}
header {
    font-weight: 400;
    font-size: 20px;
    color: #343740;
    margin: 0;
    padding: 0;
}
h1 {
    width: 100%;
    border-bottom: 2px solid #343740 ;
}
h2{
    padding: 0;
    margin: 0;
}
.artikel{
    width: 25%;
    float: left;
    height: 220px;
    overflow: hidden;
    margin-bottom: 10px;
}
.articlecontainer{
    font-size: small;
}
.artikelimg{
    width: 100%;
    height: auto;
}
.artikelimg:hover{
    opacity: 30%;
}
#divider{
    margin-top: 40px;
    margin-bottom: 40px;
}

#moreknop{
    background-color: #343740;
    color: white;
    width: 150px;
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

footer {
    color: white;
    background-color: black;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.actitel{
    background-color: #093156;
    color: white;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}
.pushdownfooter{
    margin-top: 300px;
}
.date{
    width: 50%;
    float: right;
    text-align: right;
    margin: 0 0 7px;
}
.aut{
    width: 50%;
    float: left;
    margin: 0 0 7px
}
table{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.rowsdonkergroen{
    background-color: #326544;
}
.rowslichtgroen{
    background-color: #85d38e;
}
.delendoor3{
    width: calc(100% / 3);
}
.altkleurth{
    background-color: #368050;
}
.altkleurtd{
    background-color: #b5d8b9;
}
#envelop{
    width: 40px;
    float: left;
    margin-right: 20px;
}
::placeholder{
    color: white;
    padding-left: 10px;
}
.input{
    background-color: #85d38e;
    width: calc((100% - 24px) / 3);
    float: left;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
}
.input:nth-child(2){
    margin-left: 12px;
    margin-right: 12px;
}
.input:last-child{
    margin: 0;
}
.textarea{
    float: left;
    width: 100%;
    background-color: #85d38e;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 100px;

}
.submit{
    width: 100%;
    color: white;
    background-color: #326544 ;
    border-radius: 5px;
    height: 40px;
}

@media screen and (min-width: 1000px) {
    main {
        width: 1050px;
        margin: 0 auto;
    }
    nav{
        width: 1050px;
        margin: 0 auto;
    }
    .articlecontainer article:nth-child(4){
        padding-right: 0;
        padding-left: 6px;
    }
    .articlecontainer article:nth-child(8){
        padding-right: 0;
        padding-left: 6px;
    }
    .articlecontainer article:nth-child(1){
        padding-right: 12px;
        padding-left: 0;
    }
    .articlecontainer article:nth-child(5){
        padding-right: 12px;
        padding-left: 0;
    }
    .articlecontainer article:not(:nth-child(4)):not(:nth-child(8)){
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
    main{
        width: 700px;
        margin: 0 auto;
    }
    nav{
        width: 700px;
        margin: 0 auto;
    }
    .artikel{
        width: 50%;
        float: left;
        height: 220px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .articlecontainer article:nth-child(odd){
        padding-right: 0;
        padding-left: 12px;
    }
    .articlecontainer article:nth-child(even){
        padding-right: 0;
        padding-left: 12px;
    }
    .pushdownfooter{
        margin-top: 500px;
    }
}
@media screen and (max-width: 700px) and (min-width: 0px){
    body{
        min-width: 300px;
    }
    main{
        width: 95%;
        margin: 0 auto;
    }
    nav{
        width: 100%;
        margin: 0;
    }
    #tuin{
        visibility: hidden;
    }
    .artikel{
        width: 100%;
        height: auto;
    }
    .pushdownfooter{
        margin-top: 1300px;
    }
}