body{
    background-image: url("../assets/hout.jpg");
}
table{
    border: 5px solid darkred;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
td{
    border: 1px solid darkred;
    margin: 0;
    padding: 0;
}
.wit{
    background-image: url("../assets/witte-marmer.jpg");
}
.zwart{
    background-image: url("../assets/zwarte-marmer.jpg");
}